node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.idea/
.vscode/
*.iml
android/local.properties
ios/Flutter/.last_build_id
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
android-studio-panda4-linux/
